@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #0f171e;
    --secondary-color: #1a242f;
    --primary-font: #ffffff;
    --secondary-font: #79b8f3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: var(--primary-color);
}

a:link {
    text-decoration: none;
}
