.list {
}
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
}

.label {
    color: var(--primary-font);
    font-size: 40px;
    margin-top: 20px;
}
.movie-error {
}
